{% extends 'base.html' %}
{% block title %}Admin Page{% endblock %}

{% block body %}

<div class="row p-4">
  <h1>Admin Page</h1>
</div>

<div class="row p-4">
  <div class="col-6 d-flex justify-content-center">
    <div class="row top-buffer">
      <h2>All Users</h2>
    
      <div class="col top-buffer">
        {% for user in users %}
        <div class="users col-12">
          <a href="/admin/{{user.email}}">
            {{user.email}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row top-buffer">
      
        <h2>All Vets</h2>
     
      <div class="col-12 top-buffer">
        {% for vet_user in vets %}
        <div class="vets col-12">
          <a href="/admin/{{vet_user.email}}">
            {{vet_user.email}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}