{% extends 'base.html' %}
{% block title %}Lookup Nearby Vet{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/map.css"/>
<script src="/static/js/map.js"></script>

<script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgC9H3LJ18Ycgcls2cSyHSrI2QaYbzN6o&libraries=places&callback=initMap">
</script>
{% endblock %}



{% block body %}
    <body>
        <nav class="navbar navbar-expand-lg navbar-transparent w-100">
            <div class="container-fluid">
              <a class="navbar-brand" href="/#" style="color:#440D13">PetCare VetShare</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                  <a class="nav-link" href="/forum" style="color:#440D13">Forum</a>
                  <a class="nav-link" href="/map" style="color:#440D13">Lookup nearby vet</a>
                </div>
              </div>
            </div>
          </nav>
    </body>
    <main>
        <section class="map">
        <div id="map" style="height:1000px"></div>
        </section>
    </main>
    
   
{% endblock %}

