{% extends 'base.html' %}
{% block title %}Registration Form{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/background.css">
{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
<div class="bg">
<div class="row p-5">
    <div class="col-12 d-flex justify-content-center">
        <h1>Registration</h1>
    </div>
</div>

<div class="row p-4">

    <div class="col-6 d-flex justify-content-center">
        <form action="/register" method="POST">
            <h3>Register as a regular user</h3>
            <div class="row d-flex justify-content-center top-buffer">
                <div class="col-5 d-flex justify-content-center">
                    <label for="email" class="form-label">Email address</label>
                </div>
                <div class="col-7 d-flex justify-content-center">
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row d-flex justify-content-center top-buffer">
                <div class="col-5 d-flex justify-content-center">
                    <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-7 d-flex justify-content-center">
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="p-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary ">Register</button>
            </div>
        </form>
    </div>

    <div class="col-6 d-flex justify-content-center">
        <div>
            <h3>Register as a vet</h3>
            <div class="row top-buffer">
                <div class="col-12">
                    <a href="/vet_register">Vet Register</a>
                </div>
            </div>
        </div>
       
    </div>

</div>
</div>
{% endblock %}