{% extends 'base.html' %}
{% block title %}Registration Form{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
<div class="row">
    <h1>Registration Form</h1>
</div>

<div class="row">

    <div class="col-6 col-md-6">
    <form action="/register" method="POST">
        <h3>
            Register as a regular user
        </h3>

        <p>
            Email <input type="text" name="email">
        </p>

        <p>
            Password <input type="password" name="password">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>
    </div>

    <div class="col-6 col-md-6">
        <h3>Register as a vet</h3>
        <a href="/vet_register">Vet Register</a>
    </div>
</div>
{% endblock %}