{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<h1>{{ user.email }}</h1>

<p>
    Is Admin?: {{ user.is_admin }}
</p>
  
<p>
    Is Vet?: {{ user.is_vet }}
</p>

<p>
    Is Vet Pending?: {{ vet.is_vet_pending }} <br>
    (Is Vet Pending value need to be False to allow user answer question) </br>
    Verify this vet? 
    Go here to check the info of this vet: <a href="https://www.aavsb.org/public-resources/look-up-a-license/">Look up vet info</a>
    <form action='/verifying' method="POST">
        <input type="hidden" id="user_id" name="user_id" value={{user.user_id}}>
        <input type="hidden" id="email" name="email" value={{user.email}}>
        <input type="submit" name="verification" value="Verify">
    </form>
</p>

<p>
    Vet Lastname: {{ vet.last_name }}
</p>

<p>
    Vet License Type: {{ vet.license_type }}
</p>

<p>
    Vet License Number: {{ vet.license_number }}
</p>

<p>
    Vet Status: {{ vet.verification_status }}
</p>


{% endblock %}